body
  background-color white
  margin 0
  padding 0

#ss-wrapper
  padding 15px

ul.ss-list
  margin .5em
  padding-left 10px
  li
    list-style none
.ss-method-chain
  border-radius 6px
  background-color #f7f7f9
  border 1px solid #e1e1e8
  padding 10px
  margin-bottom 10px
  &:hover
    background-color #f7f7ff

.ss-method-chain-target
  font-weight bold
  font-size 18px
.ss-value-string
  color red
.ss-value-number
  color blue
.ss-value-boolean
  color purple